div ~ p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 255, 0);
  text-align: center;
}
div > p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 1px solid black;
}
div + p {
  color: rgb(0, 119, 255);
}
div p {
  font-style: italic;
  text-decoration-color: rgb(54, 2, 11);
}
.color {
  color: rgb(38, 0, 255);
}
#i {
  width: 200px;
  background-color: plum;
  text-align: center;
  margin-left: 670;
}
div p,
h1 {
  background-color: rgb(233, 167, 180);
}
label {
  text-align: center;
  background-color: greenyellow;
  margin-left: 680px;
  margin-right: 600px;
  font-size: xx-large;
}
